* {
    margin: 0;
    padding:0;
}
 
body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 17px;
}
a:link { 
 text-decoration:none; 
} 
p{
color: #392138;
text-align:justify;
}
p:first-letter {
display:block;
margin: -20px 10px 0 0;
float:left;
color:#392138;
font-size:45px;
font-family:Arial;
}

.principal{
    position: relative;
    margin: auto;
    width: 800px;
    padding: 20px;
    background: #D8BFD8;
}
.logo{
    position: absolute;
    top: 15px;
    margin-left: 28%;
}
.logo img {
    height: 130px;
}
.endereço {
    float: right;
    margin-right: 55px;
    font-weight: bold;
    margin-top: 80px;
}
span.address{
	color:#392138;
}
.menu {
	list-style: none;
    display: inline-flex;
    margin-left: 29px;
}
.menu li{
 	padding: 33px;
    position: relative;
    margin-top: 150px;
    background: #BC8F8F;
    border-radius: 30px;
} 

.menu li a{  
	color: #392138;
	font-size: 20px;
	font-weight: bold;
}

.menu li:hover > a{  
	color:#5F9EA0;
}

.inicial {
    margin-top: 0px;
    margin-bottom: 20px;
}
.inicial img{
	height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 35px;
    width: 700px;
}
.inicial img:hover {
    width: 720px;
    height: 420px;
}
.inicial p{
    text-align: justify;
    color: #392138;
    margin-left: 27px;
    margin-right: 60px;
}

span.paragraph{
	color:#392138;
	margin-left: 27px;
    text-align: justify;
}
.location {
	margin-bottom: 30px;
	margin-left: 32px
}
h1,h3{
	color:#392138;
}
.about_us h1 {
    margin-bottom: 30px;
	margin-top: 30px;
	margin-left: 30px;
}
.about_us p {
text-align: justify;
}
.friends img {
    height: 100px;
    width: 100px;
}
.friends img:hover {
    width: 120px;
    height: 120px;
}
figcaption {
    text-align: center;
    font-weight: bold;
	 color: #392138;
background-color: #BC8F8F;
border-radius: 7px;
}
.friends li {
    display: inline-block;
    margin-right: 20px;
    padding: 30px;
}
.video {
    margin-top: 30px;
	margin-left: 180px;
}
footer {
    background: #BC8F8F;
    text-align: center;
    width: 800px;
    font-weight: bold;
    padding: 20px;
    margin: auto;
    color: #392138;
    position: relative;
}
.icones-sociais{
    list-style-type:none;
    margin-bottom: 30px;
    margin-left: 32px;
 } 
.icones-sociais li {
    display: inline-block;
}
.icones-sociais img{
    height: 70px;
    width: 70px;
}
aside h3{
    margin-bottom: 30px;
    margin-left: 32px;
}
form {
    border: 5px solid #BC8F8F;
    margin-top: 20px;
    padding: 20px;
    width: auto;
}
legend {
    font-size: 30px;
    margin-bottom: 20px;
    color: #392138;
}
form input {
    width: 350px;
    height: 20px;
}

form label {
    width: 100%;
    display: inline-block;
    text-align: left;
    color: #392138;
}

input[type="submit"], input[type="reset"]{
    float: right;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    margin-top: -20px;
    border-radius: 5px;
    font-weight: bold;
    color: #392138;
    background: #bc8f8f;
}
.lista-produto li {
    margin-left: 30px;
}
.products h1 {
    margin-bottom: 30px;
    margin-top: 30px;
	margin-left: 30px;

}
.products img{
	height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    width: 700px;
}
.products img:hover {
    width: 720px;
    height: 420px;
}
.products {
    text-align: justify;
    margin-right: 15px;
	color: #392138;
}


